<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<package name="com.github.dreamroute.mybatis.fly.domain" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.dreamroute.sqlprinter.interceptor.SqlPrinter">
			<property name="type" value="error" />
		</plugin>
		<plugin interceptor="com.github.dreamroute.fastfail.interceptor.FastFail">
			<property name="insert" value="新增失败" />
			<property name="update" value="修改失败" />
			<property name="delete" value="删除失败" />
		</plugin>
	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.82.12.63:3306/mybatis-fly?useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>

	<databaseIdProvider type="VENDOR">
		<property name="MySQL" value="mysql" />
		<property name="Oracle" value="oracle" />
	</databaseIdProvider>

	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>

</configuration>