<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dreamroute.mybatis.fly.mapper.UserMapper">

    <sql id="user_properites">id, name, password</sql>

	<!-- insert -->
	<insert id="insertUser" parameterType="user">
		<selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="long" statementType="PREPARED">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into user (name, password) values (#{name}, #{password})
	</insert>

	<!-- select by id -->
	<select id="selectById" resultMap="userMap" useCache="false" resultOrdered="true">
		select * from user 
		<where>
		  1 = 1
		</where>
		and id = #{id}
	</select>

	<!-- selectByMap -->
	<select id="selectByMap" resultMap="userMap" parameterMap="idMap">
		select * from user where id = #{id}
	</select>
	
	<parameterMap type="hashmap" id="idMap">
	   <parameter property="id"/>
	</parameterMap>

	<resultMap type="user" id="userMap" autoMapping="true">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
	</resultMap>

</mapper>